@model EMS.Lib.Models.PatientModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <form asp-action="EditPatient">
        @Html.HiddenFor(m => m.PatientId)
        <input type="text" asp-for="Name" value="@Model.Name"/>
        <input type="text" asp-for="Surname" value="@Model.Surname"/>
        <input type="date" asp-for="Birthday" value="@Model.Birthday"/>
        <select asp-items="@(Html.GetEnumSelectList<EMS.Lib.Enums.Sex>())" asp-for="Sex"></select>
        <input type="text" asp-for="PhoneNumber" value="@Model.PhoneNumber"/>
        <input type="text" asp-for="Street" value="@Model.Street"/>
        <input type="text" asp-for="Postal" value="@Model.Postal"/>
        <button type="submit">Save</button>
    </form>
</div>
