@model EMS.Lib.Models.DoctorModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <form asp-action="EditDoctor">
        @Html.HiddenFor(m=>m.DoctorId)
        <input type="text" asp-for="Name" value="@Model.Name"/>
        <input type="text" asp-for="Surname" value="@Model.Surname"/>
        <input type="date" asp-for="Birthday" value="@Model.Birthday"/>
        <select asp-items="@(Html.GetEnumSelectList<EMS.Lib.Enums.Rank>())" asp-for="Rank"></select>
        <input type="text" asp-for="CallSign" value="@Model.CallSign"/>
        <input type="text" asp-for="PhoneNumber" value="@Model.PhoneNumber"/>
        <select asp-items="@(new SelectList(Model.Hospitals, "HospitalId", "Name"))" asp-for="HospitalId"></select>
        <button type="submit">Save</button>
    </form>
</div>
