@model IEnumerable<EMS.Lib.Models.PatientModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <table>
        <tr>
            <th>Patient ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Sex</th>
            <th>Birthday</th>
            <th>Phone Number</th>
            <th>Street</th>
            <th>Postal</th>
        </tr>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.PatientId</td>
                <td>@patient.Name</td>
                <td>@patient.Surname</td>
                <td>@patient.Sex</td>
                <td>@patient.Birthday</td>
                <td>@patient.PhoneNumber</td>
                <td>@patient.Street</td>
                <td>@patient.Postal</td>
                <td><form asp-action="DeletePatient"><a href="/Home/DeletePatient?patientId=@patient.PatientId">Delete</a></form></td>
            </tr>
        }
    </table>
</div>


<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
